<div class="po-container">
  <div class="po-header-filters-wrapper">
    <div class="po-filters">
       <h2>Purchase Orders (PO)</h2>
      <!-- Date range filter -->
      <label>
        From:
        <input
          type="date"
          [(ngModel)]="filters.dateFrom"
          (change)="applyFilters()"
          class="form-control filter-input"
        />
      </label>
      <label>
        To:
        <input
          type="date"
          [(ngModel)]="filters.dateTo"
          (change)="applyFilters()"
          class="form-control filter-input"
        />
      </label>
     <div class="search-bar">
         <input
        type="text"
        placeholder="Search..."
        [(ngModel)]="filters.searchTerm"
        (input)="applyFilters()"/>
     </div>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading-message">
    Loading Purchase Orders...
  </div>

  <div *ngIf="!isLoading && errorMsg" class="alert alert-warning">
    {{ errorMsg }}
  </div>

  <ng-container *ngIf="!isLoading && !errorMsg && purchaseOrders.length > 0">
    <div class="table-responsive">
      <table class="table po-table">
        <thead>
          <tr >
            <th>PO Number</th>
            <th>Vendor ID</th>
            <th>Order Type</th>
            <th>Document Date</th>
            <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let po of filteredPurchaseOrders">
            <td>{{ po.Ebeln }}</td>
            <td>{{ po.Lifnr }}</td>
            <td>{{ po.Bstyp }}</td>
            <td>{{ formatODataDate(po.Bedat) }}</td>
            <td>{{ po.Netwr | number:'1.2-2' }} {{ po.Waers }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <div *ngIf="!isLoading && noDataFound && !errorMsg" class="alert alert-info no-data-msg">
    No Purchase Order data available for this vendor in SAP.
  </div>
</div>
