<div class="dash-home-container">
  <h2 class="welcome-message">Welcome, {{ userName }}</h2>
  <div class="summary-cards">
    <div class="summary-card" *ngFor="let card of summaryCards" [ngStyle]="{'background': card.color}">
      <span class="material-icons summary-icon">{{ card.icon }}</span>
      <div class="summary-value">{{ card.value }}</div>
      <div class="summary-label">{{ card.label }}</div>
    </div>
  </div>

   <!-- Data visualizations -->
  <div class="dashboard-charts">
    <section class="chart-section">
  <h3>Monthly RFQs Trend</h3>
  <div class="chart-wrapper">
    <ngx-charts-bar-vertical
          [results]="monthlyRFQs"
          [xAxis]="true"
          [yAxis]="true"
          [gradient]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Month"
          yAxisLabel="RFQs"
          [scheme]="colorSchemeRFQ"
          [animations]="true"
          [barPadding]="8"
          [roundEdges]="true">
        </ngx-charts-bar-vertical>
  </div>
</section>

    <section class="chart-section">
      <h3>Purchase Orders Status</h3>
       <div class="chart-wrapper">
       <ngx-charts-pie-chart
        [results]="poStatusData"
        [explodeSlices]="false"
        [labels]="true"
        [doughnut]="true"
        [scheme]="colorSchemePO">
      </ngx-charts-pie-chart>
       </div>
    </section>

    <section class="chart-section">
      <h3>Delivery Rate</h3>
      <div class="chart-wrapper">
        <ngx-charts-line-chart
          [results]="deliveryLineTrend"
          [scheme]="colorSchemeDelivery"
          [xAxis]="true"
          [yAxis]="true"
          [autoScale]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Month"
          yAxisLabel="Goods Receipts"
          [animations]="true"
          [timeline]="true"
          [showGridLines]="true">
        </ngx-charts-line-chart>
      </div>  
    </section>

    <section class="chart-section">
       <h3>Invoice Status</h3>
       <div class="chart-wrapper">
        <ngx-charts-pie-chart
        [results]="dynamicInvoiceStatusData"
        [explodeSlices]="false"
        [labels]="true"
        [doughnut]="true"
        [scheme]="colorSchemeInvoice"
        [arcWidth]="0.3"
        [animations]="true">
      </ngx-charts-pie-chart>
       </div>
    </section>

    <section class="chart-section">
      <h3>Payment Aging</h3>
      <div class="chart-wrapper">
        <ngx-charts-bar-vertical
          [results]="paymentAgingStatusData"
          [xAxis]="true"
          [yAxis]="true"
          [gradient]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Aging Range"
          yAxisLabel="Count"
          [scheme]="colorSchemePO"
          [animations]="true">
        </ngx-charts-bar-vertical>
      </div>
    </section>

    <section class="chart-section">
      <h3>Credit / Debit Memos</h3>
      <div class="chart-wrapper">
        <ngx-charts-pie-chart
          [results]="memoTypeData"
          [explodeSlices]="false"
          [labels]="true"
          [doughnut]="true"
          [scheme]="colorSchemePO"
          [arcWidth]="0.3"
          [animations]="true">
        </ngx-charts-pie-chart>
      </div>
    </section>


</div>