<div class="rfq-container">
 <div class="rfq-header-filters-wrapper">
    
    <div class="rfq-filters">
      <h2>Requests for Quotation (RFQ)</h2>
      <!-- Date range filter -->
      <label>
        From:
        <input
          type="date"
          [(ngModel)]="filters.dateFrom"
          (change)="applyFilters()"
          class="form-control filter-input"
        />
      </label>
      <label>
        To:
        <input
          type="date"
          [(ngModel)]="filters.dateTo"
          (change)="applyFilters()"
          class="form-control filter-input"
        />
      </label>
     <div class="search-bar">
         <input
        type="text"
        placeholder="Search RFQs..."
        [(ngModel)]="filters.searchTerm"
        (input)="applyFilters()"/>
     </div>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading-message">
    Loading RFQs...
  </div>

  <div *ngIf="!isLoading && errorMsg" class="alert alert-warning">
    {{ errorMsg }}
  </div>

  <ng-container *ngIf="!isLoading && !errorMsg && rfqs.length > 0">
    <div class="table-responsive">
      <table class="table rfq-table">
        <thead>
         <tr>
          <th>RFQ No</th>
          <th>Line Item</th>
          <th>Material No</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Net Price</th>
          <th>Currency</th>
          <th>Gross Amount</th>
          <th>Document Date</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rfq of filteredRfqs">
            <td>{{ rfq.Lifnr }}</td>
            <td>{{ rfq.Ebelp }}</td>
            <td>{{ rfq.Matnr }}</td>
            <td>{{ rfq.Txz01 }}</td>
            <td>{{ rfq.Ktmng }}</td>
            <td>{{ rfq.Meins }}</td>
            <td>{{ rfq.Netpr }}</td>
            <td>{{ rfq.Waers }}</td>
            <td>{{ rfq.Brtwr }}</td>
            <td>{{ rfq.Bedat | date:'yyyy-MM-dd' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <div *ngIf="!isLoading && noDataFound && !errorMsg" class="alert alert-info no-data-msg">
    No Requests for Quotation data available for this vendor.
  </div>

</div>
